
.header{  
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  height: 84px;
  width: 100%;
  background-color:#007765; 
  
}
.body_header{
  width:1219px;
  padding-left: 55px;
  padding-right: 55px;
  margin: auto;
  max-width: 1219px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  
}

body {
  font-family: Arial, sans-serif;
 
}
.main{
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 55px;
  padding-right: 55px;
}
#taskForm{
  margin-top: 20px;
}
#taskList {
  margin-top: 10px;
  margin-bottom: 20px;
}
